html {
    background-color: blue;
    width: 100vw;
    height: 100vh;
  }
  body {
    max-width: fit-content;
    margin: 0 auto;
    display: block;
    padding: 10px;
  }
  
  h3 {
    text-align: center;
    font-size: x-large;
    color: red;
  }
  
  .contenido {
    display: block;
    padding: 3vh;
    margin-top: 3vh;
    max-width: 45vw;
    background: linear-gradient(
      to bottom,
      blue
    );
    
    height: auto;
    width: fit-content;
    
  }
  
  
  .error {
    padding-left: unset;
    text-align: center;
    color: gold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  label {
    display: block;
    font-weight: bold;
    font-size: large;
    display: inline-block;
    color:ghostwhite;
    margin-bottom: 1vh;
    width: 23vh;
    text-align: right;
  }
  
  #btn {
      width: fit-content;
      text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 20px;
      border-radius: 6px;
      border: 2px solid #ffffff;
      background-color: rgb(170, 165, 165);
      color: rgb(83, 81, 81);
    }
  
  #btnLimpiar {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color: blue;
    border: 2px solid red;
  }
  
  .botones {
    max-width: fit-content;
    margin: 0 auto;
  }
  
  .boton {
    max-width: fit-content;
    margin: 2vh;
    width: fit-content;
  }
  
  input {
    margin-left: 2vh;
    color: black;
    font-weight: bold;
    font-size: large;
    width: 28vw;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #999;
  }
  